<div class="container" style="margin: 100px auto">
    <div class="row">
        <div class="col-6 offset -3">
            <h4>Agregar novedades</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Producto" name="producto">
                </div>
                <div class="form-group">
                    <lebel>Imagen: <input type="file" class="form-control" name="imagen" id="imagen" /></lebel>            
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Cantidad" name="cantidad"></textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Precio" name="precio"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>